<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap3 rescap">

  <Identity
    Name="Winshell.Sparse"
    Publisher="CN=PowerToys Dev, O=PowerToys, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0"
    ProcessorArchitecture="neutral" />

  <Properties>
    <DisplayName>Winshell</DisplayName>
    <PublisherDisplayName>PowerToys Dev</PublisherDisplayName>
    <Logo>Assets\\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="Winshell.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Winshell" Square150x150Logo="Assets\\Square150x150Logo.png" Square44x44Logo="Assets\\Square44x44Logo.png" Description="Winshell" BackgroundColor="transparent" />
    </Application>
  </Applications>

  <!-- Add capabilities as needed (e.g., rescap:Capability Name="aiInference") once finalized. -->
</Package>
